.my-table {
     font-family: Tahoma, Arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
     margin: 0 auto;
}
 .my-table th {
     background-color: #f2f2f2;
     color: #333;
     font-weight: bold;
     text-align: left;
     padding: 10px;
     border: 1px solid #ccc;
}
 .my-table td {
     background-color: #fff;
     color: #333;
     text-align: left;
     padding: 10px;
     border: 1px solid #ccc;
}
 .my-table tr:nth-child(even) td {
     background-color: #f2f2f2;
}
 .my-table tr:hover td {
     background-color: #d9d9d9;
}
