<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shared wallet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<h2 class="text-center">Shared Wallet Portal</h2>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<div class="row">
    <div class="col-md-6 mx-auto">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Payer</th>
                <th scope="col" class="text-center">Amount</th>
                <th scope="col" class="text-center">Wallet</th>
                <th scope="col" class="text-center">Note</th>
                <th scope="col" class="text-center">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="payment : ${payments}">
                <td th:text="${payment.payer}" class="text-center"></td>
                <td th:text="${payment.amount}" class="text-center"></td>
                <td th:text="${payment.wallet}" class="text-center"></td>
                <td th:text="${payment.note}" class="text-center"></td>
                <td th:text="${payment.dateTime}" class="text-center"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<form class="p-2 mx-auto" action="home">
    <button type="submit" class="btn btn-primary btn-lg">Home</button>
</form>
<form class="p-2 mx-auto" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out" class="btn btn-danger"/>
</form>

</body>
</html>
