<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shared wallet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<h2 class="text-center">Shared Wallet Portal</h2>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Wallet</th>
        <th scope="col">Amount</th>
        <th scope="col">Creditor</th>
        <th scope="col">Debtor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="balance : ${balances}">
        <td th:text="${balance.currency}"></td>
        <td th:text="${balance.amount}"></td>
        <td th:text="${balance.creditor}"></td>
        <td th:text="${balance.debtor}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
